/*
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
/* line 5, ../../res/scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*
 * HTML5 display-role reset for older browsers
 */
/* line 29, ../../res/scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 33, ../../res/scss/_reset.scss */
body {
  line-height: 1;
}

/* line 36, ../../res/scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 39, ../../res/scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 42, ../../res/scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 47, ../../res/scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 7, ../../res/scss/style.scss */
*, *:before, *:after {
  outline: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-highlight-tap-color: transparent;
  text-rendering: optimizeLegibility;
}

/* line 14, ../../res/scss/style.scss */
a, a:visited, a:hover, a:focus {
  text-decoration: none;
  color: inherit;
}

/* line 19, ../../res/scss/style.scss */
html, body {
  font: normal normal normal 16px/1.7 "Roboto Condensed", "Roboto", "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;
  width: 100%;
  height: 100%;
  color: #505050;
  background: #eaeaea;
}

/* line 27, ../../res/scss/style.scss */
#errors {
  display: none;
}

/* line 31, ../../res/scss/style.scss */
header {
  color: #fff;
  background-color: #072A36;
  width: 100%;
}
/* line 36, ../../res/scss/style.scss */
header > * {
  display: inline-block;
  height: 100%;
}

/* line 43, ../../res/scss/style.scss */
#logo-container {
  float: left;
}

/* line 47, ../../res/scss/style.scss */
#logo {
  height: 100%;
  display: block;
}
/* line 51, ../../res/scss/style.scss */
#logo > * {
  display: inline-block;
  vertical-align: middle;
}
/* line 56, ../../res/scss/style.scss */
#logo > h1 {
  font-size: 2em;
}
/* line 60, ../../res/scss/style.scss */
#logo > .logo {
  height: 100%;
  background-repeat: no-repeat;
}

/* line 67, ../../res/scss/style.scss */
section {
  display: table;
  text-align: center;
  width: 100%;
  padding: 1em 2em;
}

/* line 5, ../scss/style.scss */
header > #count-hosts {
  float: right;
  display: table;
}
/* line 9, ../scss/style.scss */
header > #count-hosts > * {
  display: table-cell;
  vertical-align: middle;
}
/* line 14, ../scss/style.scss */
header > #count-hosts #active-hosts {
  text-align: center;
}
/* line 18, ../scss/style.scss */
header > #count-hosts #loading {
  margin-right: 8px;
}
/* line 22, ../scss/style.scss */
header > #count-hosts #loading.hide {
  display: none;
}

/* line 30, ../scss/style.scss */
#container {
  margin: 0 auto;
  display: table;
  min-width: 280px;
}

/* line 36, ../scss/style.scss */
#host {
  width: 280px;
  height: 350px;
  margin: 1em 0;
  background: white;
  -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
}
/* line 43, ../scss/style.scss */
#host > span {
  display: block;
  padding: 1.25em 0;
}
/* line 48, ../scss/style.scss */
#host hr {
  height: 1px;
  border: none;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjMiLz48c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(20%, rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.3)), color-stop(80%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0)));
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0) 100%);
}

/* line 55, ../scss/style.scss */
#image-container {
  background-color: #333333;
  height: 200px;
}

/* line 60, ../scss/style.scss */
#absolute-container {
  width: 140px;
  height: 175px;
}
/* line 64, ../scss/style.scss */
#absolute-container > img {
  position: absolute;
  margin-top: 25px;
  border-radius: 50%;
}

/* line 71, ../scss/style.scss */
#short_location {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
}

/* line 79, ../scss/style.scss */
.inline-input {
  display: inline;
  output: none;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  font-size: 16px;
  font-family: inherit;
  color: inherit;
}

/* line 91, ../scss/style.scss */
.loading-tip.hide {
  display: none;
}

/* line 95, ../scss/style.scss */
.loading-tip {
  font-size: 12px;
  color: white;
  position: absolute;
  cursor: default;
  z-index: 999;
  margin-left: -68px;
}

/* line 104, ../scss/style.scss */
.loading-tip:before {
  content: "";
  background: url("/res/img/misc/spinner128.gif");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: block;
  width: 60px;
  height: 60px;
  padding: 8px;
  margin-right: 8px;
}

/* line 116, ../scss/style.scss */
.loading-tip:hover > span {
  display: block;
}

/* line 120, ../scss/style.scss */
.loading-tip span {
  display: none;
  text-align: left;
  background-color: black;
  padding: 10px;
  line-height: 1.4;
}

/* line 128, ../scss/style.scss */
.loading-tip span:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom-color: black;
  right: 10;
  top: -12px;
}

@media only screen and (min-width: 320px) {
  /* line 3, ../../res/scss/client/mobile.scss */
  header {
    height: 3em;
  }
  /* line 6, ../../res/scss/client/mobile.scss */
  header .padding {
    padding: 0.3em 0.5em 0.3em 1em;
  }
  /* line 10, ../../res/scss/client/mobile.scss */
  header > #count-hosts {
    font-size: 1em;
  }
  /* line 12, ../../res/scss/client/mobile.scss */
  header > #count-hosts #description {
    display: none;
  }
  /* line 15, ../../res/scss/client/mobile.scss */
  header > #count-hosts #active-hosts {
    width: 1.5em;
  }

  /* line 23, ../../res/scss/client/mobile.scss */
  #logo > .logo {
    width: 2.375em;
    background-size: 2.375em;
    margin-right: 1em;
  }
  /* line 29, ../../res/scss/client/mobile.scss */
  #logo > h1 {
    font-size: 1em;
  }
}
@media only screen and (min-width: 768px) {
  /* line 3, ../../res/scss/client/tablet.scss */
  header {
    height: 3.75em;
  }
  /* line 6, ../../res/scss/client/tablet.scss */
  header .padding {
    padding: 0.3em 0.5em 0.3em 1.5em;
  }
  /* line 10, ../../res/scss/client/tablet.scss */
  header > #count-hosts {
    font-size: 1.25em;
  }
  /* line 12, ../../res/scss/client/tablet.scss */
  header > #count-hosts #description {
    display: table-cell;
  }
  /* line 15, ../../res/scss/client/tablet.scss */
  header > #count-hosts #active-hosts {
    width: 1.5em;
  }

  /* line 23, ../../res/scss/client/tablet.scss */
  #logo > .logo {
    width: 3.125em;
    background-size: 3.125em;
    margin-right: 1em;
  }
  /* line 29, ../../res/scss/client/tablet.scss */
  #logo > h1 {
    font-size: 1.25em;
  }
}
@media only screen and (min-width: 1224px) {
  /* line 3, ../../res/scss/client/desktop.scss */
  header {
    height: 4.5em;
  }
  /* line 6, ../../res/scss/client/desktop.scss */
  header .padding {
    padding: 0.25em 1em 0.25em 2em;
  }
  /* line 10, ../../res/scss/client/desktop.scss */
  header > #count-hosts {
    font-size: 1.5em;
  }
  /* line 12, ../../res/scss/client/desktop.scss */
  header > #count-hosts #description {
    display: table-cell;
  }
  /* line 15, ../../res/scss/client/desktop.scss */
  header > #count-hosts #active-hosts {
    width: 2em;
  }

  /* line 24, ../../res/scss/client/desktop.scss */
  #logo > .logo {
    width: 4em;
    background-size: 4em;
    margin-right: 1em;
  }
  /* line 30, ../../res/scss/client/desktop.scss */
  #logo > h1 {
    font-size: 2em;
  }
}
@media only screen and (min-width: 1824px) {
  /* line 3, ../../res/scss/client/tv.scss */
  header {
    height: 7em;
  }
  /* line 6, ../../res/scss/client/tv.scss */
  header .padding {
    padding: 0.25em 1em 0.25em 2.5em;
  }
  /* line 10, ../../res/scss/client/tv.scss */
  header > #count-hosts {
    font-size: 2.5em;
  }
  /* line 12, ../../res/scss/client/tv.scss */
  header > #count-hosts #description {
    display: table-cell;
  }
  /* line 15, ../../res/scss/client/tv.scss */
  header > #count-hosts #active-hosts {
    width: 2em;
  }

  /* line 24, ../../res/scss/client/tv.scss */
  #logo > .logo {
    width: 6.5em;
    background-size: 6.5em;
    margin-right: 1em;
  }
  /* line 30, ../../res/scss/client/tv.scss */
  #logo > h1 {
    font-size: 3em;
  }
}
@media only screen and (min--moz-device-pixel-ratio: 0.75) and (max-resolution: 1dppx), only screen and (-o-min-device-pixel-ratio: 0.75 / 1) and (max-resolution: 1dppx), only screen and (-webkit-min-device-pixel-ratio: 0.75) and (max-resolution: 1dppx), only screen and (min-device-pixel-ratio: 0.75) and (max-resolution: 1dppx) {
  /* line 6, ../../res/scss/_ldpi.scss */
  .logo {
    background-image: url(/res/img/logo/logo-48.png);
  }
}
@media only screen and (min--moz-device-pixel-ratio: 1) and (min-resolution: 1dppx) and (max-resolution: 1.66667dppx), only screen and (-o-min-device-pixel-ratio: 1 / 1) and (min-resolution: 1dppx) and (max-resolution: 1.66667dppx), only screen and (-webkit-min-device-pixel-ratio: 1) and (min-resolution: 1dppx) and (max-resolution: 1.66667dppx), only screen and (min-device-pixel-ratio: 1) and (min-resolution: 1dppx) and (max-resolution: 1.66667dppx) {
  /* line 6, ../../res/scss/_mdpi.scss */
  .logo {
    background-image: url(/res/img/logo/logo-64.png);
  }
}
@media only screen and (min--moz-device-pixel-ratio: 1.33) and (min-resolution: 1.66667dppx) and (max-resolution: 2.22222dppx), only screen and (-o-min-device-pixel-ratio: 1.33 / 1) and (min-resolution: 1.66667dppx) and (max-resolution: 2.22222dppx), only screen and (-webkit-min-device-pixel-ratio: 1.33) and (min-resolution: 1.66667dppx) and (max-resolution: 2.22222dppx), only screen and (min-device-pixel-ratio: 1.33) and (min-resolution: 1.66667dppx) and (max-resolution: 2.22222dppx) {
  /* line 6, ../../res/scss/_tvdpi.scss */
  .logo {
    background-image: url(/res/img/logo/logo-85.png);
  }
}
@media only screen and (min--moz-device-pixel-ratio: 1.5) and (min-resolution: 2.22222dppx) and (max-resolution: 2.5dppx), only screen and (-o-min-device-pixel-ratio: 1.5 / 1) and (min-resolution: 2.22222dppx) and (max-resolution: 2.5dppx), only screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-resolution: 2.22222dppx) and (max-resolution: 2.5dppx), only screen and (min-device-pixel-ratio: 1.5) and (min-resolution: 2.22222dppx) and (max-resolution: 2.5dppx) {
  /* line 6, ../../res/scss/_hdpi.scss */
  .logo {
    background-image: url(/res/img/logo/logo-96.png);
  }
}
@media only screen and (min--moz-device-pixel-ratio: 2) and (min-resolution: 2.5dppx) and (max-resolution: 3.33333dppx), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-resolution: 2.5dppx) and (max-resolution: 3.33333dppx), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 2.5dppx) and (max-resolution: 3.33333dppx), only screen and (min-device-pixel-ratio: 2) and (min-resolution: 2.5dppx) and (max-resolution: 3.33333dppx) {
  /* line 6, ../../res/scss/_xhdpi.scss */
  .logo {
    background-image: url(/res/img/logo/logo-128.png);
  }
}
@media only screen and (min--moz-device-pixel-ratio: 3) and (min-resolution: 3.33333dppx) and (max-resolution: 5dppx), only screen and (-o-min-device-pixel-ratio: 3 / 1) and (min-resolution: 3.33333dppx) and (max-resolution: 5dppx), only screen and (-webkit-min-device-pixel-ratio: 3) and (min-resolution: 3.33333dppx) and (max-resolution: 5dppx), only screen and (min-device-pixel-ratio: 3) and (min-resolution: 3.33333dppx) and (max-resolution: 5dppx) {
  /* line 6, ../../res/scss/_xxhdpi.scss */
  .logo {
    background-image: url(/res/img/logo/logo-192.png);
  }
}
@media only screen and (min--moz-device-pixel-ratio: 4) and (min-resolution: 5dppx), only screen and (-o-min-device-pixel-ratio: 4 / 1) and (min-resolution: 5dppx), only screen and (-webkit-min-device-pixel-ratio: 4) and (min-resolution: 5dppx), only screen and (min-device-pixel-ratio: 4) and (min-resolution: 5dppx) {
  /* line 6, ../../res/scss/_xxxhdpi.scss */
  .logo {
    background-image: url(/res/img/logo/logo-256.png);
  }
}
