@import "../../res/scss/style.scss";

#container {
  margin: 0 auto;
  display: table;
  min-width: 280px;
  
  > * {
    width: 280px;
    height: 350px;
    margin: 1em 0;
    background: white;
    @include single-box-shadow(0px, 0px, 5px, 3px, rgba(0, 0, 0, 0.2), false);
    
    > .image-container {
      background-color: #333333;
      height: 200px;
      
      > img {
        margin-top: 25px;
        border-radius: 50%;
      }
      
    }
    
  }
  
}

.host {
	
  > span {
    display: block;
    padding: 1.25em 0;
  }
  
  hr {
    height: 1px;
    border: none;
    @include background(linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0) 100%));
  }
  
}

@import "../../res/scss/style_footer.scss";