@import "../../res/scss/style.scss";

header {
	
	> #count-hosts {
     float: right;
     display: table;
     
     > * {
       display: table-cell;
       vertical-align: middle;
     }
     
     #active-hosts {
       text-align: center;
     }
     
     #loading {
       margin-right: 8px;
     }
     
     #loading.hide {
       display: none;
     }
     
   }
   
}

#container {
  margin: 0 auto;
  display: table;
  min-width: 280px;
  
  > * {
    width: 280px;
    height: 350px;
    margin: 1em 0;
    background: white;
    @include single-box-shadow(0px, 0px, 5px, 3px, rgba(0, 0, 0, 0.2), false);
    
    > .image-container {
      background-color: #333333;
      height: 200px;
      
      > img {
        margin-top: 25px;
        border-radius: 50%;
      }
      
    }
    
  }
  
}

.host {
	
  > span {
    display: block;
    padding: 1.25em 0;
  }
  
  hr {
    height: 1px;
    border: none;
    @include background(linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0) 100%));
  }
  
}

.loading-tip.hide {
	display: none;
}

.loading-tip {
	font-size: 12px;
	color: white;
	position: absolute;
  cursor: default;
  z-index: 999;
  margin-left: -68px;
}

.loading-tip:before {
	content: "";
	background: url("/res/img/misc/spinner128.gif");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: block;
	width: 60px;
	height: 60px;
	padding: 8px;
	margin-right: 8px;
}

.loading-tip:hover > span{
	display: block;
}

.loading-tip span {
	display: none;
	text-align: left;
	background-color: black;
	padding: 10px;
	line-height: 1.4;
}

.loading-tip span:before {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-bottom-color: black;
	right: 10;
	top: -12px;
}

@import "../../res/scss/client/style_footer.scss";