@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-highlight-tap-color: transparent;
  text-rendering: optimizeLegibility;
}

html, body {
  font: normal normal normal 16px/1.7 "Roboto Condensed", "Roboto", "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;
  width: 100%;
  height: 100%;
  background-color: #eaeaea;
}

#errors {
  display: none;
}