/*
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
/* line 5, ../../res/scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*
 * HTML5 display-role reset for older browsers
 */
/* line 29, ../../res/scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 33, ../../res/scss/_reset.scss */
body {
  line-height: 1;
}

/* line 36, ../../res/scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 39, ../../res/scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 42, ../../res/scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 47, ../../res/scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 5, ../scss/style.scss */
* {
  outline: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-highlight-tap-color: transparent;
  text-rendering: optimizeLegibility;
}

/* line 11, ../scss/style.scss */
a, a:visited, a:hover, a:focus {
  text-decoration: none;
  color: inherit;
}

/* line 15, ../scss/style.scss */
html, body {
  font: normal normal normal 16px/1.7 "Roboto Condensed", "Roboto", "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;
  width: 100%;
  height: 100%;
  background: #eaeaea;
}

/* line 21, ../scss/style.scss */
#errors {
  display: none;
}

/* line 25, ../scss/style.scss */
header {
  color: white;
  background-color: #072A36;
  width: 100%;
}
/* line 30, ../scss/style.scss */
header > * {
  display: inline-block;
  height: 100%;
}
/* line 35, ../scss/style.scss */
header > #count-hosts {
  float: right;
  display: table;
}
/* line 38, ../scss/style.scss */
header > #count-hosts > * {
  display: table-cell;
  vertical-align: middle;
}
/* line 42, ../scss/style.scss */
header > #count-hosts #active-hosts {
  text-align: center;
}
/* line 45, ../scss/style.scss */
header > #count-hosts #description {
  display: table-cell;
}

/* line 52, ../scss/style.scss */
#logo {
  height: 100%;
  display: block;
}
/* line 55, ../scss/style.scss */
#logo > * {
  display: inline-block;
  vertical-align: middle;
}
/* line 59, ../scss/style.scss */
#logo > h1 {
  font-size: 2em;
}
/* line 62, ../scss/style.scss */
#logo > .logo {
  height: 100%;
  background-repeat: no-repeat;
}

/* line 68, ../scss/style.scss */
section {
  width: 100%;
  display: table;
  text-align: center;
}
/* line 72, ../scss/style.scss */
section > * {
  display: table-cell;
  vertical-align: middle;
}

@media only screen and (min-width: 320px) {
  /* line 3, ../../res/scss/mobile.scss */
  header {
    height: 3em;
  }
  /* line 6, ../../res/scss/mobile.scss */
  header .padding {
    padding: 0.3em 0.5em 0.3em 1em;
  }
  /* line 10, ../../res/scss/mobile.scss */
  header > #count-hosts {
    font-size: 1em;
  }
  /* line 12, ../../res/scss/mobile.scss */
  header > #count-hosts #description {
    display: none;
  }
  /* line 15, ../../res/scss/mobile.scss */
  header > #count-hosts #active-hosts {
    width: 1.5em;
  }

  /* line 23, ../../res/scss/mobile.scss */
  #logo > .logo {
    width: 2.375em;
    background-size: 2.375em;
    margin-right: 1em;
  }
  /* line 29, ../../res/scss/mobile.scss */
  #logo > h1 {
    font-size: 1em;
  }
}
@media only screen and (min-width: 768px) {
  /* line 3, ../../res/scss/tablet.scss */
  header {
    height: 3.75em;
  }
  /* line 6, ../../res/scss/tablet.scss */
  header .padding {
    padding: 0.3em 0.5em 0.3em 1.5em;
  }
  /* line 10, ../../res/scss/tablet.scss */
  header > #count-hosts {
    font-size: 1.25em;
  }
  /* line 12, ../../res/scss/tablet.scss */
  header > #count-hosts #description {
    display: table-cell;
  }
  /* line 15, ../../res/scss/tablet.scss */
  header > #count-hosts #active-hosts {
    width: 1.5em;
  }

  /* line 23, ../../res/scss/tablet.scss */
  #logo > .logo {
    width: 3.125em;
    background-size: 3.125em;
    margin-right: 1em;
  }
  /* line 29, ../../res/scss/tablet.scss */
  #logo > h1 {
    font-size: 1.25em;
  }
}
@media only screen and (min-width: 1224px) {
  /* line 3, ../../res/scss/desktop.scss */
  header {
    height: 4.5em;
  }
  /* line 6, ../../res/scss/desktop.scss */
  header .padding {
    padding: 0.25em 1em 0.25em 2em;
  }
  /* line 10, ../../res/scss/desktop.scss */
  header > #count-hosts {
    font-size: 1.5em;
  }
  /* line 12, ../../res/scss/desktop.scss */
  header > #count-hosts #description {
    display: table-cell;
  }
  /* line 15, ../../res/scss/desktop.scss */
  header > #count-hosts #active-hosts {
    width: 2em;
  }

  /* line 24, ../../res/scss/desktop.scss */
  #logo > .logo {
    width: 4em;
    background-size: 4em;
    margin-right: 1em;
  }
  /* line 30, ../../res/scss/desktop.scss */
  #logo > h1 {
    font-size: 2em;
  }
}
@media only screen and (min-width: 1824px) {
  /* line 3, ../../res/scss/tv.scss */
  header {
    height: 7em;
  }
  /* line 6, ../../res/scss/tv.scss */
  header .padding {
    padding: 0.25em 1em 0.25em 2.5em;
  }
  /* line 10, ../../res/scss/tv.scss */
  header > #count-hosts {
    font-size: 2.5em;
  }
  /* line 12, ../../res/scss/tv.scss */
  header > #count-hosts #description {
    display: table-cell;
  }
  /* line 15, ../../res/scss/tv.scss */
  header > #count-hosts #active-hosts {
    width: 2em;
  }

  /* line 24, ../../res/scss/tv.scss */
  #logo > .logo {
    width: 6.5em;
    background-size: 6.5em;
    margin-right: 1em;
  }
  /* line 30, ../../res/scss/tv.scss */
  #logo > h1 {
    font-size: 3em;
  }
}
@media only screen and (min--moz-device-pixel-ratio: 0.75) and (max-resolution: 1dppx), only screen and (-o-min-device-pixel-ratio: 0.75 / 1) and (max-resolution: 1dppx), only screen and (-webkit-min-device-pixel-ratio: 0.75) and (max-resolution: 1dppx), only screen and (min-device-pixel-ratio: 0.75) and (max-resolution: 1dppx) {
  /* line 6, ../../res/scss/ldpi.scss */
  .logo {
    background-image: url(https://localhost/res/img/logo/logo-48.png);
  }
}
@media only screen and (min--moz-device-pixel-ratio: 1) and (min-resolution: 1dppx) and (max-resolution: 1.66667dppx), only screen and (-o-min-device-pixel-ratio: 1 / 1) and (min-resolution: 1dppx) and (max-resolution: 1.66667dppx), only screen and (-webkit-min-device-pixel-ratio: 1) and (min-resolution: 1dppx) and (max-resolution: 1.66667dppx), only screen and (min-device-pixel-ratio: 1) and (min-resolution: 1dppx) and (max-resolution: 1.66667dppx) {
  /* line 6, ../../res/scss/mdpi.scss */
  .logo {
    background-image: url(https://localhost/res/img/logo/logo-64.png);
  }
}
@media only screen and (min--moz-device-pixel-ratio: 1.33) and (min-resolution: 1.66667dppx) and (max-resolution: 2.22222dppx), only screen and (-o-min-device-pixel-ratio: 1.33 / 1) and (min-resolution: 1.66667dppx) and (max-resolution: 2.22222dppx), only screen and (-webkit-min-device-pixel-ratio: 1.33) and (min-resolution: 1.66667dppx) and (max-resolution: 2.22222dppx), only screen and (min-device-pixel-ratio: 1.33) and (min-resolution: 1.66667dppx) and (max-resolution: 2.22222dppx) {
  /* line 6, ../../res/scss/tvdpi.scss */
  .logo {
    background-image: url(https://localhost/res/img/logo/logo-85.png);
  }
}
@media only screen and (min--moz-device-pixel-ratio: 1.5) and (min-resolution: 2.22222dppx) and (max-resolution: 2.5dppx), only screen and (-o-min-device-pixel-ratio: 1.5 / 1) and (min-resolution: 2.22222dppx) and (max-resolution: 2.5dppx), only screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-resolution: 2.22222dppx) and (max-resolution: 2.5dppx), only screen and (min-device-pixel-ratio: 1.5) and (min-resolution: 2.22222dppx) and (max-resolution: 2.5dppx) {
  /* line 6, ../../res/scss/hdpi.scss */
  .logo {
    background-image: url(https://localhost/res/img/logo/logo-96.png);
  }
}
@media only screen and (min--moz-device-pixel-ratio: 2) and (min-resolution: 2.5dppx) and (max-resolution: 3.33333dppx), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-resolution: 2.5dppx) and (max-resolution: 3.33333dppx), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 2.5dppx) and (max-resolution: 3.33333dppx), only screen and (min-device-pixel-ratio: 2) and (min-resolution: 2.5dppx) and (max-resolution: 3.33333dppx) {
  /* line 6, ../../res/scss/xhdpi.scss */
  .logo {
    background-image: url(https://localhost/res/img/logo/logo-128.png);
  }
}
@media only screen and (min--moz-device-pixel-ratio: 3) and (min-resolution: 3.33333dppx) and (max-resolution: 5dppx), only screen and (-o-min-device-pixel-ratio: 3 / 1) and (min-resolution: 3.33333dppx) and (max-resolution: 5dppx), only screen and (-webkit-min-device-pixel-ratio: 3) and (min-resolution: 3.33333dppx) and (max-resolution: 5dppx), only screen and (min-device-pixel-ratio: 3) and (min-resolution: 3.33333dppx) and (max-resolution: 5dppx) {
  /* line 6, ../../res/scss/xxhdpi.scss */
  .logo {
    background-image: url(https://localhost/res/img/logo/logo-192.png);
  }
}
@media only screen and (min--moz-device-pixel-ratio: 4) and (min-resolution: 5dppx), only screen and (-o-min-device-pixel-ratio: 4 / 1) and (min-resolution: 5dppx), only screen and (-webkit-min-device-pixel-ratio: 4) and (min-resolution: 5dppx), only screen and (min-device-pixel-ratio: 4) and (min-resolution: 5dppx) {
  /* line 6, ../../res/scss/xxxhdpi.scss */
  .logo {
    background-image: url(https://localhost/res/img/logo/logo-256.png);
  }
}
