@font-face {
  font-family: 'Roboto';
  src: url('roboto.eot');
  src: url('roboto.eot?#iefix') format('embedded-opentype'),
       url('roboto.woff') format('woff'),
       url('roboto.ttf') format('truetype'),
       url('roboto.svg#roboto') format('svg');
  font-weight: medium;
  font-style: normal;
}
