@media only screen and (min-width: 768px) {
  
  header {
    height: 3.75em;
    
    .padding {
      padding: 0.3em 0.5em 0.3em 1.5em;
    }
    
    > #count-hosts {
      font-size: 1.25em;
      #description {
        display: table-cell;
      }
      #active-hosts {
        width: 1.5em;
      }
    }
  }
  
  #logo {
     
     > .logo {
       width: 3.125em;
       background-size: 3.125em;
       margin-right: 1em;
     }
     
     > h1 {
       font-size: 1.25em;
     }
  }
  
}