@media only screen and (min-width: 1224px) {
  /* line 3, ../../scss/client/desktop.scss */
  header {
    height: 4.5em;
  }
  /* line 6, ../../scss/client/desktop.scss */
  header .padding {
    padding: 0.25em 1em 0.25em 2em;
  }
  /* line 10, ../../scss/client/desktop.scss */
  header > #count-hosts {
    font-size: 1.5em;
  }
  /* line 12, ../../scss/client/desktop.scss */
  header > #count-hosts #description {
    display: table-cell;
  }
  /* line 15, ../../scss/client/desktop.scss */
  header > #count-hosts #active-hosts {
    width: 2em;
  }

  /* line 24, ../../scss/client/desktop.scss */
  #logo > .logo {
    width: 4em;
    background-size: 4em;
    margin-right: 1em;
  }
  /* line 30, ../../scss/client/desktop.scss */
  #logo > h1 {
    font-size: 2em;
  }
}
