@media only screen and (min-width: 768px) {
  /* line 3, ../scss/tablet.scss */
  header {
    height: 3.75em;
  }
  /* line 6, ../scss/tablet.scss */
  header .padding {
    padding: 0.3em 0.5em 0.3em 1.5em;
  }
  /* line 10, ../scss/tablet.scss */
  header > #count-hosts {
    font-size: 1.25em;
  }
  /* line 12, ../scss/tablet.scss */
  header > #count-hosts #description {
    display: table-cell;
  }
  /* line 15, ../scss/tablet.scss */
  header > #count-hosts #active-hosts {
    width: 1.5em;
  }

  /* line 23, ../scss/tablet.scss */
  #logo > .logo {
    width: 3.125em;
    background-size: 3.125em;
    margin-right: 1em;
  }
  /* line 29, ../scss/tablet.scss */
  #logo > h1 {
    font-size: 1.25em;
  }
}
